In [31]:
import requests

response = requests.get("https://data.norges-bank.no/api/data/EXR/B.USD.NOK.SP?format=sdmx-json&startPeriod=2024-01-01&endPeriod=2024-11-24&locale=no")

In [36]:
import pandas as pd

data = response.json()

# Extract series data
series_data = data["data"]["dataSets"][0]["series"]
structure = data["data"]["structure"]["dimensions"]

# Extract dimensions and observation details
base_cur = structure["series"][1]["values"][0]["id"]
quote_cur = structure["series"][2]["values"][0]["id"]
time_periods = structure["observation"][0]["values"]
observations = series_data["0:0:0:0"]["observations"]

# Prepare data for DataFrame
records = []
for obs_key, obs_value in observations.items():
    time_period = time_periods[int(obs_key)]["id"]
    exchange_rate = obs_value[0]
    records.append({
        "time_period": time_period,
        "base_currency": base_cur,
        "quote_currency": quote_cur,
        "exchange_rate": float(exchange_rate)
    })

# Create DataFrame
df = pd.DataFrame(records)

In [37]:
df.head()

  time_period base_currency quote_currency  exchange_rate
0  2024-01-02           USD            NOK        10.2971
1  2024-01-03           USD            NOK        10.3672
2  2024-01-04           USD            NOK        10.3027
3  2024-01-05           USD            NOK        10.3553
4  2024-01-08           USD            NOK        10.3800